/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
/composer.phar

!app/cache/.gitkeep
!app/logs/.gitkeep
/app/DoctrineMigrations/
!app/DoctrineMigrations/.gitkeep
/composer.lock
/web/.htaccess

.sass-cache
.DS_Store
.idea
.idea/*
